@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

#root {
  display: flex;
  padding: 80px 0 0 0;
  cursor: default;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  background-color: white;
}

#content {
  z-index: 1;
}

.page {
  /* margin: 0 auto; */
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test {
  color: rgba(48, 48, 48, 0.377);
}